<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Create new post</title>
    <link rel="stylesheet" th:href="@{/css/common/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<header class="container-fluid ">
    <div class="container">
        <h1 class="my-2">Blog</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link navbar-hover" aria-current="page"
                               th:href="@{/home}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-hover" th:href="@{/about}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-hover" th:href="@{/contact}">Contact</a>
                        </li>
                        <li sec:authorize="!hasRole('USER')" class="nav-item navbar-hover ">
                            <a class="nav-link navbar-hover" th:href="@{/login}">Login</a>
                        </li>
                        <li sec:authorize="hasRole('USER')" class="nav-item navbar-hover">
                            <a class="nav-link navbar-hover" th:href="@{/logout}"
                               th:text="'Logout(' + ${userLogged?.username} + ')'"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="w-90">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-2">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Manage post</li>
                        </ol>
                    </nav>
                    <h2>Manage post</h2>
                    <h4 th:text="${msgSuccess}" class="text-success"></h4>
                    <table class="table table-bordered mt-3 text-center">
                        <thead class="bg-info">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Status</th>
                            <th scope="col">Create Time</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="post : ${posts}">
                            <th>
                                <a th:href="@{'/home/post/' + ${post.id}}" th:text="${post.title}"></a>
                            </th>
                            <td th:text="${post.status}"></td>
                            <td th:text="${post.createTime}"></td>
                            <td>
                                <a th:href="@{'/home/manage-post/edit/' + ${post.id}}"
                                    class="text-primary d-inline-block p-1 me-2"
                                    title="Edit the post">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                <a th:href="@{'/home/manage-post/delete/' + ${post.id}}"
                                   onclick="return confirm('Do you want to delete the record ?')"
                                    class="text-danger d-inline-block p-1" title="Delete the post">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-2 mt-5">
                <nav sec:authorize="hasRole('USER')" class="navbar bg-light p-0 mb-2">
                    <div class="container-fluid p-0">
                        <ul class="navbar-nav w-100">
                            <li class="nav-item bg-info d-inline-block w-100 px-2">
                                <h6 class="w-100 m-0 py-2" th:text="${userLogged.username}"></h6>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" th:href="@{/home/create-post}">Create New Post</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" th:href="@{/home/manage-post}">Manage Post</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" th:href="@{/home/approve-comment}">Approve Comment</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" th:href="@{/logout}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="mb-2">
                    <h6 class="w-100 m-0 p-2 bg-info">Top 5 tags</h6>
                    <p class="px-2">
                        <th:block th:each="tag : ${topFiveTags}">
                            <a class="me-2" th:text="${tag.name}" href="#"></a>
                        </th:block>
                    </p>
                </div>

                <div class="">
                    <h6 class="w-100 m-0 p-2 bg-info">Recent Comment</h6>
                    <p class="px-2">
                    <p class="px-2  ">
                        <span th:text="${lastComment.author} + ' on '"></span>
                        <a th:href="@{'/home/post/' + ${lastComment.post.id}}" th:text="${lastComment.post.title}"></a>
                    </p>
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="container border-top">
    <footer class="py-3 my-4">
        <p class="text-center text-muted">Copyright © 2016 by My Company</p>
        <p class="text-center text-muted">All Rights Reserved</p>
    </footer>
</div>
</body>
</html>